<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>If you ever want to see this tutorial again, just tap the question mark on the front page.</string>
		<key>Image</key>
		<string>introductionimage_panel1</string>
		<key>Title</key>
		<string>Make A Meal Of It Tutorial</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Just type in the recipe you want.</string>
		<key>Image</key>
		<string>introductionimage_panel2</string>
		<key>Title</key>
		<string>Searching</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>introductionimage_panel3</string>
		<key>Description</key>
		<string>Occasionally you crave a specific ingredient, and sometimes you just don&apos;t want a certain thing in your recipes. Swipe right to include, and left to exclude any ingredient.</string>
		<key>Title</key>
		<string>Including / Excluding Ingredients</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>introductionimage_panel4</string>
		<key>Description</key>
		<string>Each wheel can be rotated to a filter of your choice, and either required or excluded. Add as many filters as you&apos;d like. Allergies and diets can obviously only be required!</string>
		<key>Title</key>
		<string>Define Allergies and Diets. Filter Courses, Cuisines and Holidays</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>introductionimage_panel5</string>
		<key>Description</key>
		<string>Recipes can be favorited and then viewed later.</string>
		<key>Title</key>
		<string>Favorite Recipes &amp; View the Details Offline</string>
	</dict>
</array>
</plist>
